# fly.toml app configuration file generated for virtual-code-ninjas-next-winter-haze-9907 on 2025-12-09T19:40:53-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'virtual-code-ninjas-next-winter-haze-9907'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
