# fly.toml app configuration file generated for vcn-ws-server on 2025-12-10T09:12:09-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "vcn-ws-server"

primary_region = "ord"

[build]
  dockerfile = "Dockerfile"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
  [[services.ports]]
    port = 443


